@import "~bootstrap/scss/bootstrap.scss";

/* 
body{
    background: black;
}

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
#planet{
    height: 500px;
    width: 500px;
}
#characters{
     height: 500px;
    width: 500px;
}

*/
.scroll{
    overflow-x: scroll;
}


#headline{

    width: 250px;


}


#Search{
    margin-top: 8px;
    margin-right: 5px;
    border-radius: 5px;
}


.navbar{
    background-color: gray;
}

.fas{
    border: 1px solid white;
    color: yellow;
    margin-top: 5px;
    height: 36px;
    width: 30px;

}
